$primary-color: #266dd3;
$secondary-color: #0a0b09;
$tetiary-color: #e4e4e4;
$tetiary-mid: #bdbdbd;
$tetiary-variant: #fff;

.container {
  .book-details {
    min-height: 350px;
    background-color: $tetiary-color;
    padding: 50px 50px 0 50px;
  }

  .line-div {
    background-color: $tetiary-color;
  }

  .hr {
    background-color: $secondary-color;
    height: 2px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  .add-books {
    background-color: $tetiary-color;
    padding: 30px 50px;
  }
}
