$primary-color: #266dd3;
$primary-light: #2f81f5;
$secondary-color: #0a0b09;
$tetiary-color: #eff1ed;
$tetiary-mid: #dedcdc;
$tetiary-variant: #fff;

.btn {
  background-color: $primary-color;
  color: $tetiary-variant;
}
