@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap');

$primary-color: #266dd3;
$secondary-color: #0a0b09;
$tetiary-color: #eff1ed;
$tetiary-mid: #bdbdbd;
$tetiary-variant: #fff;

nav {
  box-shadow: 0 0 2px $tetiary-mid;
  height: 80px;
  background-color: #fff;

  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    color: $primary-color;
  }

  .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.813rem;
    letter-spacing: 1.8px;
  }
}
