$primary-color: #266dd3;
$secondary-color: #0a0b09;
$tetiary-color: #eff1ed;
$tetiary-mid: #bdbdbd;
$tetiary-variant: #fff;

div#root {
  background-color: $tetiary-color;

  .main-div {
    width: 100%;
    margin: 0 auto;
    background-color: $tetiary-color;
    border-radius: 6px;
    box-shadow: 0 0 2px $tetiary-mid;
  }
}
